# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Dependency makefiles
*.d

# Compiled executable
emulationstation
clear_bt_cache
reboot_overclock

# build directory
build
Debug
Release
MinSizeRel
RelWithDebInfo

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
*.cmake

# Tool
data/res2h
